@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.App {
    
}

.Intro {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

h2 {
    display: inline-block;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #213547;
    font-size: 2rem;
}

.hello-off {
    opacity : 0; 
    transition: opacity 0.5s;
}
  
.get-data {
    opacity: 0;
    transition: opacity 0.5s;
}

.get-data-on {
    opacity: 1;
    transition: opacity 0.5s;
}

.just-enter {
    opacity: 0;
    transition: opacity 0.5s;
}

.just-enter-on {
    opacity: 1;
    transition: opacity 0.5s;
}

.and {
    opacity: 0;
    transition: opacity 0.5s;
}

.and-on {
    opacity: 1;
    transition: opacity 0.5s;
}

.search {
    display: none;
}

.search-on {
    display: block;
}

.bounce-animation {
    animation: bounceInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
}


